{% extends 'base.html' %}

{% block content %}

<h1>Base de dados de Contratos Públicos</h1>

<table>
  <tr>
    <th>
      Número de Contratos
    </th>
    <th>
      Valor Total
    </th>
  </tr>
  <tr>
    <td>
      {{ contratos.n_contratos }}
    </td> 
    <td>
      {{ contratos.valor_total|to_euro }}
    </td> 
  </tr>
</table>

<p>
  <a href="/contratos">Listar contratos</a>
</p>
<p>
  <a href="/paises">Listar contratos por país</a>
</p>
<p>
  <a href="/adjudicatarios">Listar adjudicatarios</a>
</p>

<form action="/search" method="get">
  <label for="id">Id contratual:</label>
  <input type="text" id="id" name="id"><br><br>
  <input type="submit" value="Search">
</form> 

{% endblock %}
