{% extends 'base.html' %}

{% block content %}

<h1>Contratos</h1>
<table>
  <tr>
    <th>
      Objeto do Contrato
    </th>
    <th>
      Adjudicante
    </th>
    <th>
      Adjudicatario
    </th>
    <th>
      Preço Contratual
    </th>
  </tr>
  {% for c in contratos %}
  <tr>
    <td>
      {{ c.objeto_contrato }}
    </td> 
    <td>
      {{ c.adjudicante }}
    </td> 
    <td>
      {{ c.adjudicatario }}
    </td> 
    <td>
      {{ c.preco_contratual | to_euro}}
    </td> 
  </tr>
  {% endfor %}
</table>


{% endblock %}
